@charset "utf-8";
/* CSS Document */
/*××××××××××××××××××××公共样式×××××××××××××××××××××××××××*/
*{-webkit-text-size-adjust:none;}
body{font-size:12px; color:#333; font-family:'宋体', Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p, 
blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var 
{font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0} 
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#C70000;}
.cb{clear:both;} 
.clear {
                clear: both;
                }
#head {
	/*background-color: #6F6;*/
	height: 143px;
	width: 100%;
}
#container {
    margin:0 auto;
	height: auto;
	width: 100%;
}

#foot {
	float:left;
	height: 270px;
	width: 100%;
	margin-top:5px;
}
/********分页***********/
#div{width:500px;position:relative;margin:0px auto;}
#div #black{    font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;padding: 20px 0 5px 0;;margin:3px;color:#57A000;text-align:right;}
#div #black a{border: 1px solid #ddd;padding:2px 5px;color:#57A000;margin:0 3px 0 0;text-decoration:none;}
#div #black a:hover{color:black;}
#div #black a:active{color:black;}
#div #black span.current{border:#459300 !important;padding:2px 5px;color:#fff !important;margin:0 3px 0 0;background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;}
#div #black span.disabled{border:#459300 !important;padding:2px 5px;color:#fff !important;margin:0 3px 0 0;}
#div #black span.current:hover {text-decoration: underline;}
#div{float:right;}
/******************/
#search_main{width:995px; margin:3px auto; padding:2px 0 20px 0;}
.top{}
#search_top{float:left;}
#search_way{float:right;}
#search_way #img{margin:0px 0 0 3px;}

#good_list{border:1px solid #DEDEDE; padding:5px 0 0 16px;margin-top:20px;width:994px;float:left;height:auto;}
#good_list .good_single{padding:0 0 12px 0; margin-right:15px;width:175px;float:left;}

.good_single .good_name{line-height:18px; height:36px; color:#555555; overflow:hidden; display:block;}
.good_single .good_price{color:red; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;display:inline;}
.good_single .good_comment{color:#0E5CBB;}
.good_single .buy_panel{padding:10px 0 15px 38px;}
.good_single .buy{float:left; display:block; width:49px; height:20px; line-height:20px; text-align:center;margin-right:5px; color:white;background:url(../images/btn_buy.png)}


